{% extends 'base.html' %}
{% block title %}Click the button below to generate a random namespace ID and hex-encoded data:{% endblock %}
{% block content %}
  <div>
    <form method="POST" class="con">
      {% csrf_token %}
      <center><button type="submit" class="button">Generated Hex Strings</button></center>
    </form>
    {% if nID and msg %}
      <div class="result">
        <h2>Generated Hex Strings:</h2>
        <p>My hex-encoded namespace ID: <b>{{ nID }}</b></p>
        <p>My hex-encoded message: <b>{{ msg }}<b></b></p>
      </div>
    {% endif %}
  </div>
{% endblock %}