{% extends 'base.html' %}

{% block title %}How to use{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>How to use</h2>
        <p>Добро пожаловать на наш сервис! Мы рады предложить вам возможность использования нашего продукта для ...</p>
        <p>Чтобы начать использовать наш сервис, вам необходимо выполнить следующие шаги:</p>
        <ol>
          <li>Шаг 1: </li>
          <li>Шаг 2: </li>
          <li>Шаг 3: .</li>
          <li>Шаг 4: </li>
          <li>Шаг 5:</li>
        </ol>
      </div>
      <div class="col-md-6">
        <img src="#" alt="Как пользоваться сервисом" class="img-fluid">
      </div>
    </div>
</div>
{% endblock %}
