{% extends 'base.html' %}
{% load static %}
{% block title %}Submit a PFB transaction{% endblock %}
{% block content %}
<div class="container">
  <div class="form-container mx-auto">
    <center><img src="{% static 'artboard15x.png' %}" alt="Logo"><h2></h2>
    <form class="my-form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" id="submit-button">Submit</button>
      <div id="loading-spinner"></div>
    </form>
    </center>
    <div class="instructions-container mx-auto">
      {% include 'instructions.html' %}
    </div>
  </div>
</div>
{% endblock %}
