{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="form-container mx-auto">
    <center><img src="{% static 'artboard15x.png' %}" alt="Logo"><h2></h2>
    <form class="my-form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" id="submit-button">Submit</button>
<div id="loading-spinner"></div>
    </form>
    </center>
    <div class="instructions-container mx-auto">
      <details>
        <summary>How to use ?</summary>
        <p>You can generate your own namespace_id <br>
          and data values using this useful Golang <br>
          Playground <a href='https://go.dev/play/p/7ltvaj8lhRl'>here</a><br><br>
          gas_limit: 80000<br> fee: 2000</p>
      </details>
    </div>
  </div>

  
</div>
{% endblock %}