{% include 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Transaction List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/transactions.css' %}">
</head>
<body>
    <table class="transactions" style="table-layout: fixed;">
        <thead>
            <tr class="transaction-heading">
                <br>
                <th style="width: 20px;">Namespace ID</th>
                
                <th style="width: 30px;">Height</th>
                <th style="width: 80px;">TxHash</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr class="transaction">
                    <td style="word-break: break-all;">{{ transaction.namespace_id }}</td>
                    
                    <td style="word-break: break-all;">{{ transaction.height }}</td>
                    <td style="word-break: break-all;">
                        <a href="https://testnet.mintscan.io/celestia-incentivized-testnet/txs/{{ transaction.txhash }}" target="_blank">{{ transaction.txhash }}</a>
                      </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>