.container {
  display: flex;
  justify-content: center;
  border-radius: 01;
  align-items: center;
  background-color: white;
  margin: 20px auto;
}

.form-container {
  background-color: #7b2bf9;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.5s ease;
}

.form-control {
  width: 100%;
}

.container {
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  padding: 70px;
}

form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 190px;
  font-family: Arial, sans-serif;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}


form input[type="text"],
form input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form button[type="submit"] {
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-container form p:not(:last-child) {
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
}

.my-form {
  background-color: #7b2bf9;
  background-image: linear-gradient(to top, #e74fec9c(310 7% 18%), #7b2bf9);
  padding: 10px;
  border: 0px solid #DDDDDD;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #333;
}

header {
  background-image: linear-gradient(to top, #e28ed4, #7b2bf9);
  /* остальные стили */
}


.header-link {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 30px;
    text-decoration: none;
    transition: background-color 0.3s, font-size 0.3s;
}

.header-link:hover {
    background-color: #5d0b9c;
    font-size: 22px;
}


.logo {
  float: left;
  margin-right: 20px;
  transition: transform 0.5s ease;
}

.logo:hover {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

header img {
  height: 60px; /* установите высоту логотипа по вашему выбору */
}