.transactions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.transactions {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

.transaction-heading th {
  background-color: #7b2bf9;
  color: white;
  font-weight: bold;
}

.transaction td, .transaction th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.transaction:nth-child(even) {
  background-color: #f2f2f2;
}

.transaction:hover {
  background-color: #ddd;
}

  
  
  
  